<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"
  />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
    <section class="hero is-info is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title animate__animated animate__bounceIn">
              Contact Us Page
            </h1>
          </div>
        </div>
      </section>
    <div class="container">
          <div class="databaseTitle">
            <p class="contact">Developer Name: Haiyi Cheng</p>
            <p class="contact">Email: hcheng28@holmesglen.edu.au</p>
            <p class="contact">School: Holmesglen</p>
          </div>
          <div class="databaseTitle" >
              <a href="/" >
                <button class="button backButton">Back</button>
              </a>
          </div>
    </div>

</body>
</html>